/*导航nav与底部tab*/
.yui_tab {
  position: relative;
  padding-bottom: 48px;
}

/*导航nav*/
.yui_navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;  /*position: absolute;*/
  top: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  background-color: #fff;
  z-index: 500;
}
.yui_navbar + .yui_navbar {
  border-top: none;
}

.yui_navbar_item {
  position: relative;
  display: block;
  padding: 10px 0;
  color: #7e7e7e;
  font-size: 17px;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.yui_navbar_item:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid #dcdcdc;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
.yui_navbar_item:last-child:after {
  display: none;
}

/*选中状态*/
.yui_navbar_item.yui_navbar_item_on {
  background-color: #386cda;
  color: #fff;
}

/*底部tab*/
.yui_tabbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;  /*position: absolute;*/
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  background-color: #fff;
  z-index: 500;
}
.yui_tabbar_item {
  position: relative;
  display: block;
  padding: 7px 0;
  color: #b1bee8;
  font-size: 15px;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.yui_tabbar_item .iconfont {
  color: #b1bee8;
}
.yui_tabbar_item.yui_tabbar_item_on, .yui_tabbar_item.yui_tabbar_item_on .iconfont {
  color: #386cda;
}
.yui_tabbar_item .yui_tabbar_label {
  font-size: 11px;
}