/*通知模版*/
.yui_panel {
  border: 1px solid #dcdcdc;
  border-radius: 10px;
}
.yui_panel .yui_anchor {
  color: #6a93ff;
  font-size: 16px;
}
.yui_panel .yui_media_desc {
	margin-bottom: 5px;
	color: #7d7d7d;
	font-size: 15px;
}