/*选项卡切换*/
.yui_column {
  padding: 1em 0;
}
.yui_column .yui_navbar {
  overflow: hidden;
  width: 12.66em;
  margin: 0 auto;
  border: 1px solid #dcdcdc;
  background-color: #fff;
  border-radius: 5px;
}
.yui_column .yui_navbar_item {
  padding: 0;
  font-size: 15px;
  color: #386cda;
  line-height: 2.5em;
}