%display-box-align-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.yui_cell_menu {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);

	&:before {
		content: " ";
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 1px;
		border-left: 1px solid #dcdcdc;
		-webkit-transform: scaleX(0.5);
		transform: scaleX(0.5);
	}
	.yui_navbar {
		height: 100%;
		border: none;
		background: #ecf2fe;
		@extend %display-box-align-center;

		.yui_navbar_item {
			padding-left: 19px;
			padding-right: 19px;
			color: #386cda;
			font-size: 16px;
		}
	}
}
.yui_slide {
	-webkit-transition: transform .3s linear;
	transition: transform .3s linear;
}